name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  deploy-gateway:
    uses: bmstu-rsoi/rsoi-2021-lab3-fault-tolerance-Nutrymaco/.github/workflows/deploy-app.yml@develop
    with:
      application-name: gateway-service
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  deploy-reservation:
    uses: bmstu-rsoi/rsoi-2021-lab3-fault-tolerance-Nutrymaco/.github/workflows/deploy-app.yml@develop
    with:
      application-name: reservation-service
    secrets:
      PG_URL: ${{ secrets.PG_URL }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  deploy-loyalty:
    uses: bmstu-rsoi/rsoi-2021-lab3-fault-tolerance-Nutrymaco/.github/workflows/deploy-app.yml@develop
    with:
      application-name: loyalty-service
    secrets:
      PG_URL: ${{ secrets.LOYALTY_PG_URL }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  deploy-payment:
    uses: bmstu-rsoi/rsoi-2021-lab3-fault-tolerance-Nutrymaco/.github/workflows/deploy-app.yml@develop
    with:
      application-name: payment-service
    secrets:
      PG_URL: ${{ secrets.PAYMENT_PG_URL }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  build:
    name: Autograding
    runs-on: ubuntu-latest
    needs: [ deploy-gateway, deploy-reservation, deploy-loyalty, deploy-payment ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run API Tests
        uses: matt-ball/newman-action@master
        with:
          collection: v2/postman/[rsoi] postman_collection.json
          environment: v2/postman/[rsoi][heroku] postman_environment.json
          delayRequest: 100
          reporters: '[ "cli" ]'
          envVar: '[{ "key":"serviceName", "value":"rsoi-lab2-loyalty-service" }, { "key":"herokuApiToken", "value":"${{secrets.HEROKU_API_KEY}}" }]'

      - uses: education/autograding@v1
        id: autograder
        continue-on-error: true
